*{
    margin: 0px;
    padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 35px;
}
#home+div{
    text-align: center;
    margin-bottom: 3%;
}
#header{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 1%;
}
a{
    color: black;
    background-color:  rgb(250, 213, 223);
    text-decoration: none;
    padding: 0.2em;
    border-radius: 10px;
}
a:hover{
    color: rgb(250, 213, 223);
    background-color: black;
    border-radius: 10px;
    padding: 0.2em;
}
#home{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
#home>div{
    width: 45%;
    text-align: center;
}
#right>img{
    border-radius: 50%;
    width: 80%;
}
#left>button:hover{
    background-color:  black;
    color: rgb(250, 213, 223);
    border-radius: 5px;
}
#left>button{
    border-radius: 5px;
    border: none;
    margin: 10%;
    width: 20%;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    background-color:  rgb(250, 213, 223);
    color: balck;
}
#bottom{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 90%;
    margin: auto;
}
#bottom>div{
    width: 30%;
    border-radius: 50%;
}

@media only screen and (min-width: 480px )and( max-width: 760px){
    h1{
        font-size: 35px;
    }
    #header+div{
        text-align: center;
        margin-bottom: 3%;
    }
    #header{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 1%;
    }
    #about>div{
        width: 90%;
        text-align: center;
    }
    #bottom{
        display: flex;
        flex-direction: row;
    }

    
}

@media only screen and (min-width: 320px )and( max-width: 480px){
    #header{
        display: none;
    }
    a{
        background-color: aliceblue;
    }
    
}