*{
    margin: 5px;
    padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
.third{
    color: rgb(240,150,25);
    font-size: 25px;
    text-align: center;
}
h1{
    font-size: 30px;
}

#header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 1%;
}
a{
    color: black;
    text-decoration: none;
    border-radius: 10px;
}
a>h3{
    border-radius: 10px;
    padding: 0.2em;
}
a>h3:hover{
    color: rgb(250, 213, 223);
    background-color: black;
    border-radius: 10px;
    padding: 0.2em;
}
#home{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
#home>div{
    width: 45%;
    text-align: center;
}
#right>img{
    border-radius: 50%;
    width: 80%;
}
#right>div{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 5%;
    justify-content: space-around;
    align-items: center;
}
.fa-brands{
    font-size: 50px;
}
.left-btn:hover{
    background-color:  black;
    color: rgb(250, 213, 223);
    border-radius: 5px;
}
.left-btn{
    border-radius: 5px;
    border: none;
    margin: 10%;
    width: 20%;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    background-color:  rgb(250, 213, 223);
    color: balck;
    padding: 1%;
}

#about{
    margin-bottom: 5%;
}

#skills{
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;

}
#skills>div{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
#skills>div>img{
    width: 60px;
}
#contact{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 20%;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}
#contact>div>img{
    width: 60px;
}

#project{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
}
#project>i{
    cursor: pointer;
    font-size: 50px;
}
#project>div{
    width: 85%;
    margin: auto;
    color: gray;
}
#project>div>a>img{
    width: 100%;
    height: 400px;
}
#bottom{
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}
#bottom>div{
    width: 100px;
    height: 100px;
    padding: 2%;
    border-radius: 50%;
    border: 4px solid rgb(240,150,25);
    text-align: center;
    line-height: 1.5rem;
}
#bottom>div>h2{
    margin-top: 20%;
}
#btn:hover{
    background-color:  black;
    color: rgb(250, 213, 223);
    border-radius: 5px;
}
#btn{
    border-radius: 5px;
    border: none;
    margin: 2%;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    background-color:  rgb(250, 213, 223);
    color: balck;
    padding: 1%;
}

/* ////////////////////////////////////////////////////////////////  TABLETS */

@media  screen and ( max-width: 760px){
    h1{
        font-size: 25px;
    }
    .third{
        font-size: 20px;
    }
    #header>a{
        display: none;

    }
    #home{
        display: block;
    }
    #home>div{
        width: 80%;
        text-align: center;
    }
    #right>img{
        border-radius: 50%;
        width: 60%;
    }
    .fa-brands{
        font-size: 40px;
    }
    .left-btn{
        margin: 5%;
        font-size: 15px;
        font-weight: 300;
        width: 25%;
    }

    #about{
        margin: auto;
        width: 80%;
    }
    
    #skills>div>img{
        width: 40px;
    }
    #contact{
        margin: auto;
        width: 80%;
        gap: 10%;
    }
    #contact>div>img{
        width: 40px;
    }
    #project{
        margin: auto;
        width: 80%;
        height: 400px;
    }
    #project>div>a>img{
        height: 250px;
    }
    #project>i{
        cursor: pointer;
        font-size: 30px;
    }
   
    #bottom{
        margin: auto;
        width: 80%;
        display: grid;
        grid-template: 100px 1fr / 100px 1fr;
        gap: 15%;
        margin-bottom: 15%;
        
    }
    #bottom>div{
        margin: auto;
        padding: 1%;
    }
}


/* ////////////////////////////////////// PHONES    */
@media  screen and ( max-width: 480px){
    .fa-brands{
        font-size: 30px;
    }
    #header>a{
        display: none;
    }
    h1{
        font-size: 20px;
    }
    .third{
        font-size: 15px;
    }
    #home{
        display: block;
    }
    #home>div{
        width: 80%;
        text-align: center;
    }
    #right>img{
        border-radius: 50%;
        width: 60%;
    }
    .left-btn{
        margin: 5%;
        font-size: 8px;
        font-weight: 300;
    }
    #about{
        margin: auto;
        width: 80%;
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin: auto;
        margin-bottom: 15%;
    }
    #skills>div{

    }
    #skills>div>img{
        width: 30px;
    }
    #contact>div>img{
        width: 30px;
    }
    #contact{
        display: block;
    }

    #project{
        margin: auto;
        width: 95%;
    }
    #project>i{
        cursor: pointer;
        font-size: 20px;
    }
    #project>div>a>img{
        height: 150px;
    }
    #project>div>h2{
        font-size: 10px;
    }
    #bottom{
        display: block;
        margin-bottom: 15%;
    }
    #bottom>div{
        margin: auto;
        margin-top: 5%;
        padding: 1%;
        line-height: 1rem;
        
    }
    #bottom>div>h2{
        font-size: 18px;
    }
}